.landing {
  height: 100vh;
  line-height: 1;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  width: 100%;
  position: fixed;
  top: 0;
}

.content {
  width: 960px;
  margin: auto;
  margin-top: 200px;
}

.register-button {
  cursor: pointer;
  background-repeat: no-repeat;
  width: 260px;
  height: 68px;
  text-indent: -999em;
}

.start-button {
  cursor: pointer;
  background-repeat: no-repeat;
  height: 96px;
  width: 275px;
  margin-bottom: 5px;
  position: relative;
  left: -9px;
}
