.building__name {
  font-family: 'Brush Script MT', cursive;
  font-size: 1.25rem;
  font-weight: bold;
  color: crimson;
  text-shadow: 0 0 4px whitesmoke, 0 0 4px whitesmoke, 0 0 4px whitesmoke, 0 0 4px whitesmoke;
  user-select: none;
  pointer-events: none;
	cursor: default;
  /* cursor: pointer; */


	padding: 0px 15px 0 15px;

	border-image-source: url(../../assets/UIResource/Common/BuildingName.png);
	border-image-slice: 5 18 fill;
	border-image-width: 5px 18px;
}

.building__quest {
  cursor: pointer;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.valhalla > .building.highlighted {

  /* filter: brightness(70%); */
  /* filter: drop-shadow(0px 0px gold); */
  filter: contrast(75%)
}